@use '../../ui-components/styles/mixins';

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(40, 45, 47, 0.9);
  z-index: 99;
}

.modal {
  border-radius: 30px;
  position: fixed;
  width: 900px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;
  background-color: white;
  z-index: 999999;
  padding: 50px;
  line-height: 150%;
  color: #2f1f49;
  font-weight: 450;
  @include mixins.shadow_border;

  @media (max-width: 900px) {
    margin: auto;
    width: 80vw;
    height: 80vh;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: left;
}

.title {
  font-size: 48px;
  margin-bottom: 40px;
  line-height: initial;
}

.subtitle {
  font-size: 20px;
}

.body {
  font-size: 16px;
  line-height: 24px;
}

.closeButton {
  top: 0;
  right: 15px;
  position: absolute;
  padding: 10px;
  cursor: pointer;
}

.learnMoreButton {
  align-self: baseline;
  margin-top: 20px;
}

.columns {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: self-end;
}

.graphic {
  width: 200px;
  flex-shrink: 0;

  @media (max-width: 900px) {
    display: none;
  }
}

.background {
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

b {
  font-weight: 600;
}

.link {
  text-decoration: underline;
}
